:root {
    --first-title-color: #212121;
    --first-btn-color: #212121;
    --active-color:#2196F3;
    --accent-color:#757575;
    --first-background: #FFFFFF;
    --second-background:#F5F4FA;
    --transition-only:250ms cubic-bezier(0.4, 0, 0.2, 1);
}

$RobS:Roboto, sans-serif;
$RalS:Raleway, sans-serif;
$S7:700;
$S4:400;
$S5:500;
$SN:normal;